@import "tailwindcss";
@config "../tailwind.config.ts";
@import "./styles/tailwind.css";

body {
  color: var(--color-gray-2);
  background: var(--color-gray-8);
}

:root {
  font: 16px var(--font-family);
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 1440px;
  max-width: 100%;
  color: var(--color-gray-2);
  background: var(--color-gray-8);
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.dark {
  :root {
    color-scheme: dark;
  }
}

.dark {
  body {
    color: var(--color-gray-8);
    background: var(--color-gray-2);
  }
  #root {
    background: var(--color-gray-2);
    color: var(--color-gray-8);
  }
}
