@import "tailwindcss";
@config "../tailwind.config.ts";
@import "./shadcn/tailwind.css";

:root {
  font: 18px var(--font-family);
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.dark {
  color-scheme: dark;
}

#root {
  width: 1440px;
  max-width: 100%;
  color: var(--color-gray-13);
  background: var(--color-white);
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
